@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF_IceLemon';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_IceLemon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
	background: linear-gradient(to right bottom, #ffe4e1, #f0ffff, #ffe4e1, #f0ffff);
	/** background: linear-gradient(to right bottom, #e6e6fa, #f0fff0, #e6e6fa, #f0fff0); **/
}

.layout{
	margin: 0px auto;
	padding: 20px;
	width: 1000px;
	height: 100%;
	background-color: white;
}

.top{
	margin: -10px auto -20px auto;
	width: 1000px;
	display: flex;
	flex-direction: row;
}

.banner{
	margin: 10px;
	width: 900px;
	height: 100px;
	display: inline-block;
	text-align: center;
}

.box{
	margin: 30px auto;
	width: 1000px;
	display: flex;
	flex-direction: row; 
}

.menu{
	width: 160px;
	height: 380px;
	border: 2px dashed black;
	border-radius: 20px;
}

.main{
	margin: 0px auto;
	padding: 50px 30px;
	width: 760px;
	border: 1px solid #c9c9c9;
	border-radius: 20px;
}

.notice{
	margin-left: 20px; 
	padding: 10px 30px;
	width: 750px;
	height: 500px;
}

h1{
	font-size: 15px;
	font-family: 'GmarketSansMedium';
}

h2{
	text-align: center;
}

h3{
	margin: 12px;
	font-size: 22px;
	font-family: '양진체';
	text-shadow: 2px 2px 2px #c0c0c0;
}

h5{
	margin: 50px 0px 0px 0px;
	text-align: center;
	font-family: 'SF_IceLemon';
	font-size: 40px;

}

.menu > a{
	margin: 10px 30px;
	display: inline-block;
	font-size: 20px;
	text-decoration: none;
	color: black;
}

.menu > a:hover{
	text-decoration: underline;
	color: black;
}